{% extends 'index.html' %}

{% block content %}
    <main>
        <!--? slider Area Start-->
        <section class="">
                                    <div class="image-container">
                                      <img src="static/img/gallery/i1.jpg" alt="Image 1" class="image">
                                    </div>
                                    <div class="image-container-2">
                                      <img src="static/img/gallery/i2.jpg" alt="Image 2" class="image">
                                    </div>
                                    <div class="image-container-2">
                                      <img src="static/img/gallery/i3.jpg" alt="Image 3" class="image">
                                    </div>
                                    <div class="image-container-2">
                                      <img src="static/img/gallery/i4.jpg" alt="Image 4" class="image">
                                    </div>
                                    <div class="image-container-2">
                                      <img src="static/img/gallery/i5.jpg" alt="Image 5" class="image">
                                    </div>
                                    <div class="image-container-2">
                                      <img src="static/img/gallery/i6.jpg" alt="Image 6" class="image">
                                    </div>
                                    <div class="clear"></div>
                                <!-- testimonial-single-items
                                    <div class="testmonial-item ">
                                         <div class="hero__caption">
                                             <h1 data-animation="fadeInLeft" data-delay="0.2s">Elevate Your Hotel's Guest Experience with Our Premium Linen Services</h1>
                                             <p data-animation="fadeInLeft" data-delay="0.4s">We understand the importance of clean and comfortable linens for your guests. Let us handle your hotel's laundry needs so you can focus on providing a top-notch experience</p>
                                             <a href="{% url 'hotel' %}" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s">Explore Services</a>
                                         </div>
                                    </div>
                                    <!-- testimonial-single-items
                                    <div class="testmonial-item ">
                                        <div class="hero__caption">
                                             <h1 data-animation="fadeInLeft" data-delay="0.2s">Trusted Laundry Services for Hospitals and Healthcare Facilities</h1>
                                             <p data-animation="fadeInLeft" data-delay="0.4s">We prioritize hygiene and safety when it comes to laundering medical linens. Our state-of-the-art equipment and experienced team ensure that your hospital's linens are always clean and sterilized.</p>
                                             <a href="{% url 'restaurant' %}" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s">Explore Services</a>
                                         </div>
                                    </div>
                                    <!-- testimonial-single-items
                                    <div class="testmonial-item ">
                                        <div class="hero__caption">
                                             <h1 data-animation="fadeInLeft" data-delay="0.2s">Efficient and Reliable Laundry Services for Restaurants</h1>
                                             <p data-animation="fadeInLeft" data-delay="0.4s">Running a restaurant is hard enough - let us handle your laundry needs so you can focus on your customers. Our fast and efficient services ensure that your restaurant's linens are always clean and ready to use.</p>
                                             <a href="{% url 'hospital' %}" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s">Explore Services</a>
                                         </div>
                                    </div>
                                    <!-- testimonial-single-items
                                    <div class="testmonial-item ">
                                        <div class="hero__caption">
                                             <h1 data-animation="fadeInLeft" data-delay="0.2s">Eco-friendly Laundry practices for a sustainable Gym environment</h1>
                                             <p data-animation="fadeInLeft" data-delay="0.4s">Say Goodbye to laundry woes and hello to fresh workout gear with our on-site laundry service. Let us handle the hassle while you focus on your fitness goals</p>
                                             <a href="{% url 'gym' %}" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s">Explore Services</a>
                                         </div>
                                    </div>
                                    <!-- testimonial-single-items
                                    <div class="testmonial-item ">
                                        <div class="hero__caption">
                                             <h1 data-animation="fadeInLeft" data-delay="0.2s">Luxurious Linen Services for SPAs and Wellness Centres</h1>
                                             <p data-animation="fadeInLeft" data-delay="0.4s">We understand the importance of creating a relaxing and tranquil atmosphere for your spa guests. Our high-quality linens and meticulous laundering process ensure that your spa's linens are always clean, soft, and ready to use.</p>
                                             <a href="{% url 'spa' %}" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s">Explore Services</a>
                                         </div>
                                    </div> -->

        </section>
        <!-- slider Area End-->
        <!--? Services Area Start -->
        <section class="services-area pt-top border-bottom pb-20 mb-60">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <span class="element">Our Process</span>
                            <h2>This is how we work</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center">
                            <div class="cat-icon">
                                <img src="static/img/icon/services-icon1.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">We collect your clothes</a></h5>
                                <p>The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center">
                            <div class="cat-icon">
                                <img src="static/img/icon/services-icon2.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Wash your clothes</a></h5>
                                <p>The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center">
                            <div class="cat-icon">
                                <img src="static/img/icon/services-icon3.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Get delivery</a></h5>
                                <p>The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services End -->
        <!--? Offer-services Start  -->
        <section class="offer-services pb-bottom2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <span class="element">Our Process</span>
                            <h2>This is how we Work</h2>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-offers">
                            <img src="static/img/gallery/o1.png" alt="" class="w-100">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-offers">
                            <img src="static/img/gallery/offers2.png" alt="" class=" w-100">
                            <div class="offers-caption text-center">
                                <div class="cat-icon">
                                    <img src="static/img/icon/offers-icon1.png" alt="">
                                </div>
                                <div class="cat-cap">
                                    <h5><a href="services.html">Schedule Your Collection</a></h5>
                                    <p>The website will allow customers to schedule laundry pick-ups at a time that is convenient for them. Once the hotel has made a booking, our drivers will arrive at the hotel to collect the laundry.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-offers">
                            <img src="static/img/gallery/offers2.png" alt="" class=" w-100">
                            <div class="offers-caption text-center">
                                <div class="cat-icon">
                                    <img src="static/img/icon/offers-icon1.png" alt="">
                                </div>
                                <div class="cat-cap">
                                    <h5><a href="services.html">Pack Your Laundry</a></h5>
                                    <p>The website will provide instructions for packing laundry,including tips on how to separate different types of laundry and how to label items to avoid any mix-ups.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-offers">
                            <img src="static/img/gallery/o2.png" alt="" class=" w-100">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-offers">
                            <img src="static/img/gallery/o3.png" alt="" class=" w-100">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-offers">
                            <img src="static/img/gallery/offers2.png" alt="" class=" w-100">
                            <div class="offers-caption text-center">
                                <div class="cat-icon">
                                    <img src="static/img/icon/offers-icon1.png" alt="">
                                </div>
                                <div class="cat-cap">
                                    <h5><a href="services.html">Wait for Our Driver</a></h5>
                                    <p>Once the laundry has been packed and ready for collection, the customer can sit back and relax while our driver picks up the laundry. Our drivers will arrive on time and collect the laundry from the hotel reception.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-offers">
                            <img src="static/img/gallery/offers2.png" alt="" class=" w-100">
                            <div class="offers-caption text-center">
                                <div class="cat-icon">
                                    <img src="static/img/icon/offers-icon1.png" alt="">
                                </div>
                                <div class="cat-cap">
                                    <h5><a href="services.html">Relax While We Take Care of Your Laundry</a></h5>
                                    <p>Once the laundry has been collected, our laundry staff will take care of the rest. We will wash, dry, fold and deliver the laundry back to the hotel at a time that is convenient for them.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-offers">
                            <img src="static/img/gallery/offers1.png" alt="" class=" w-100">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Offer-services End  -->
        <!--? Want To work -->
        <section class="container">
            <section class="wantToWork-area" data-background="static/img/gallery/section_bg01.png">
                <div class="wants-wrapper w-padding2">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-8 col-lg-9 col-md-7">
                            <div class="wantToWork-caption wantToWork-caption2">
                                <h2>Call us for a service</h2>
                                <p>We deliver the goods to the most complicated places on earth</p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-5">
                            <a href="#" class="btn wantToWork-btn"><img src="static/img/icon/call2.png" alt=""> Learn More</a>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!-- Want To work End -->
        <!-- Testimonials_start -->
        <section class="testimonials-area testimonials-overly  position-relative">
            <div class="container">
                <div class="border-bottom section-padding40 ">
                    <div class="row">
                        <div class="col-xl-12 ">
                            <!-- testmonial-image -->
                            <div class="testmonial-nav text-center">
                                <div class="testmonial-thumb">
                                    <img src="static/img/gallery/testimonila1.png" alt="">
                                </div>
                                <div class="testmonial-thumb">
                                    <img src="static/img/gallery/testimonila2.png" alt="">
                                </div>
                                <div class="testmonial-thumb">
                                    <img src="static/img/gallery/testimonila3.png" alt="">
                                </div>
                                <div class="testmonial-thumb">
                                    <img src="static/img/gallery/testimonila2.png" alt="">
                                </div>
                            </div>
                            <div class="testmonial-item-active text-center">
                                <!-- testimonial-single-items -->
                                <div class="testmonial-item ">
                                    <p class="pera">The automated process starts as soon as your clothes go into the<br> machine. The outcome is gleaming clothes!</p>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <p> - Rupaya</p>
                                </div>
                                <!-- testimonial-single-items -->
                                <div class="testmonial-item ">
                                    <p class="pera">The automated process ends as soon as your clothes go into the<br> machine. The outcome is gleaming clothes!</p>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <p> - Rupaya</p>
                                </div>
                                <!-- testimonial-single-items -->
                                <div class="testmonial-item ">
                                    <p class="pera">The automated process begins as soon as your clothes go into the<br> machine. The outcome is gleaming clothes!</p>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <p> - Rupaya</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonials_end -->
        <!--? Company achievement Start -->
        <section class="services-area section-padding40 fix">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <span class="element">Fun Fact</span>
                            <h2>Company achievement</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center">
                            <div class="cat-cap">
                                <span>4000</span>
                                <p>The automated process starts as soon as your clothes go into the machine.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center">
                            <div class="cat-cap">
                                <span>300+</span>
                                <p>The automated process starts as soon as your clothes go into the machine.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center">
                            <div class="cat-cap">
                                <span>95%</span>
                                <p>The automated process starts as soon as your clothes go into the machine.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bottom-bt">
                                <img src="static/img/gallery/company-bg.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Company achievement End -->
        <!--? About Area  -->
        <section class="about-area2 pb-bottom mt-30">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <!-- about-img -->
                        <div class="about-img ">
                            <img src="static/img/gallery/about1.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="about-caption mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-25">
                                <h2>About company</h2>
                            </div>
                            <p class="mb-20">
                                The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes!
                            </p>
                            <p class="mb-30">The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes!</p>

                            <a href="about.html" class="btn">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        <!--?  Map Area start  -->
        <div class="Map-area">
            <img src="static/img/gallery/Map.png" alt="" class="w-100">
        </div>
        <!-- Map Area End -->
    </main>

{% endblock %}