{% extends 'home.html' %}

{% block content %}
  <h1>Item</h1>
  <table>
    <thead>
      <tr>
        <th>PK</th>
        <th>Service Name</th>
        <th>Category Name</th>
        <th>Item Name</th>
        <th>Price</th>
        <th>Actions</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.pk }}</td>
          <td>{{ item.service }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td>
            <form>
              <button type="submit" formaction="{% url 'item_detail' item.pk %}">View</button>
              <button type="submit" formaction="{% url 'item_edit' item.pk %}">Edit</button>
              <button type="submit" formaction="{% url 'item_delete' item.pk %}">Delete</button>
            </form>
          </td>
          {% csrf_token %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <form action="{% url 'item_add' %}">
    <button type="submit">Add Item</button>
  </form>
{% endblock %}
